.bs-docs-header
  %h1 Welcome to Track Service.
  %h3 Easy, intuitive and estable traking service

.container
  .row
    .col-xs-6
      .jumbotron
        %p
          Provides a useful tool to track projects, conceived for IT projects
    .col-xs-6
      .jumbotron
        %p
          A Ruby on Rails application, Feel free to fork on Github



